[Desktop Entry]
Name=RustDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=homedesk
Exec=homedesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
